pipeline/PL_CLOUD_TYPE.json
{
	"name": "PL_CLOUD_TYPE",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT DISTINCT L3_switch_type \nFROM dbo.vb_tbl_job a\nJOIN dbo.vb_tbl_trigger b ON a.trigger_id = b.trigger_id\nWHERE b.trigger_name = '@{pipeline().parameters.Trigger}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_AZURE_SQL_DB",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Switch1",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@activity('Lookup1').output.firstRow.L3_switch_type",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "Azure",
							"activities": [
								{
									"name": "EXEC_CSV_OR_EXCEL",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PL_CSV_OR_EXCEL",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Trigger": {
												"value": "@pipeline().parameters.Trigger",
												"type": "Expression"
											}
										}
									}
								}
							]
						},
						{
							"value": "AWS",
							"activities": [
								{
									"name": "Wait1",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 1
									}
								}
							]
						}
					],
					"defaultActivities": [
						{
							"name": "Wait2",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Trigger": {
				"type": "string"
			}
		},
		"variables": {
			"Mapping": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-01-19T16:54:32Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}